name = "webhook"
compatibility_date = "2023-05-01"

[[ d1_databases ]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "bouldering_gym_notifier_db"
database_id = "d6f9c560-aed5-4c87-8571-3f8f4c85d43a"
migrations_dir = "../migrations"
