# typescriptのlintをPR時に実行する
name: notifier-CI

on:
  pull_request:
    paths:
      - ".github/workflows/notifier-ci.yml"
      - "notifier/**"
      - ".github/actions/setupEnvironment/action.yml"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setupEnvironment
        with:
          cache-key: "notifier"
          working-directory: ./notifier

      - name: Lint
        run: npm run lint
        working-directory: ./notifier
